body{
    font-family: “monospace”,“sans-serif”;
    margin:0;
    padding:0;
    width:100%;
   

}
.font-primary{
    color: #00ABAE
}
.title-icon{
    font-size: 20px;
    font-weight: bold;
}
h2{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}
a .font-black{
    color: #000 !important;
}
.hrline{
    align-self: center;
    width: 100%;
}
/******************
About
******************/
#about{
    margin: 60px auto;
   
    text-align: center;
}
#about .profile {
    border-radius: 50%;
    /* width: 113px; */
    /* margin-bottom: 13px; */
    height: 550px;
    width: 500px;
    padding: 35px 1px 0px 4px;
    /* margin: 33px 25px 18px 180px; */
}
#about .name h2{
    font-size: 31px;
    font-weight: bold;
    text-align: left;
    /* margin: 53px 0 0 -122px; */
}
#about .vocation p{
    font-size: 27px;
    font-weight: bold;
    text-align: left;
    /* margin: 40px 63px 40px -32px; */

}
#about .skills{
    font-size: 14px;
    color: #00A8AE;
    margin-bottom: 10px;
}
#about .email{
    margin-top: 14px;
    font-size: 14px;
}
#about .icons{
    margin-top: 20px;
    font-size: 30px;
    color: rgb(0,0,0);
}
/******************
Project
******************/
#projects{
    margin: 60px auto;
    width: 86%;
}
#projects h2{
    text-align: center;
}
#projects .card img{
    width: 100%;
}
#projects .card-title{
    font-weight: bold;
}
#projects .col-md-8 a {
background: #00A8AE;
}

.third .icons {
    border: 50%;
}
.End {
    text-align: center;
}

.Profile-icon{
    border-radius: 50%;
    text-align: center;
    font-size: 160%;
}

.btm-para{
    text-align: center;
    color: gray;
}

.btn-secondary{
    background: #00A8AE;

    padding: 8px 20px 7px 25px;

}

.gallery-text {
   width: 200%;
   height: 200%; 
   padding: 2.5%;
}
.para {
    
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-right:5%;
    margin-left: 5%;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;

}

.icons1 {
    margin: 60px auto;
    /* width: 100px;*/
    /* height: 50px;  */
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    justify-content: space-around;
    
}

#about .skill{
    margin: 60px auto;
    width: 90%;
    display: flex;
    margin-left: 7%;
}



.Third h3 {
    margin: 60px auto;
    width: 90%;
    display: flex;
    margin-left: 7%;
}

.para-txt{
    color: #575757;
}

/* .third{
    width: 100%;
    height: 20%;
} */

#projects .col-md-4 .ovr-lap{
    position: absolute;
    top: 80px;
    margin-left: 11%;
    
}

.desc {
    display: flex;
    justify-content: space-around;
    margin-left: 1%;
    margin-right: 1%;
}

#about .desc .name .btm {
    margin-right: 70px;
}
