body{
    font-family: “monospace”,“sans-serif”;
    margin:0;
    padding:0;
    width:100%;
   

}
.font-primary{
    color: #00ABAE
}
.title-icon{
    font-size: 20px;
    font-weight: bold;
}
h2{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}
a .font-black{
    color: #000 !important;
}
.hrline{
    align-self: center;
    width: 100%;
}
/******************
About
******************/
#about{
    margin: 60px auto;
   
}
.profile {
    border-radius: 50%;
   
    height: 550px;
    width: 500px;
    padding: 35px 1px 0px 4px;
   
}
#about .name h2{
    font-size: 31px;
    font-weight: bold;
    text-align: left;
   
}
#about .vocation p{
    font-size: 27px;
    font-weight: bold;
    text-align: left;
    

}
#about .skills{
    font-size: 14px;
    color: #00A8AE;
    margin-bottom: 10px;
}
#about .email{
    margin-top: 14px;
    font-size: 14px;
}
#about .icons{
    margin-top: 20px;
    font-size: 30px;
    color: rgb(0,0,0);
}
/******************
Project
******************/
#projects{
    margin: 60px auto;
    width: 86%;
}
#projects h2{
    text-align: center;
}
#projects .card img{
    width: 100%;
}
#projects .card-title{
    font-weight: bold;
}
#projects .col-md-8 a {
background: #00A8AE;
}

.third .icons {
    border: 50%;
}
.End {
    text-align: center;
}

.Profile-icon{
    border-radius: 50%;
    text-align: center;
    font-size: 160%;
}

.btm-para{
    text-align: center;
    color: gray;
}

.btn-secondary{
    background: #00A8AE;
    padding: 8px 20px 7px 25px;

}

.gallery-text {
   
   padding: 2.5%;
}
.para {
    
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin:0 5%;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;

}

.icons1 {
    margin: 60px auto;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#about .skill{
    margin: 60px auto;
    width: 90%;
    display: flex;
    margin-left: 7%;
}



.Third h3 {
    margin: 5% 0 5% 7%;
    text-align: left;
}

.para-txt{
    color: #575757;
}

/* .third{
    width: 100%;
    height: 20%;
} */

#projects .col-md-4 .ovr-lap{
    position: absolute;
    right: 20%;
    top: 28%;
}
    


.desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7%
    
}

#about .desc .name .btm {
    margin-right: 70px;
}

.col-md-8 {
    width: 50%;
}
.col-md-4 {
    width: 50%;
}


@media (max-width: 420px) {
    .desc, .para {
        flex-direction: column;
    }
    a.btn.btn-secondary {
        font-size: 0.6rem;
    }
    .profile {
        width: 250px;
        height: 330px;
        margin: 0 auto;
    }
    .row {
        display: flex;
        flex-direction: column-reverse;
    }
    /* .col-md-4 .ovr-lap {
        position: absolute;
        right: 35%;
        top: 6%;
    } */
    .col-md-8 {
        width: 100%;
    }
   
   
}
@media (max-width: 700px) {
    .desc, .para {
        flex-direction: column;
    }
    a.btn.btn-secondary {
        font-size: 0.8rem;
    }
    .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .col-md-4 {
        width: 100%;
    }
    /* .col-md-4 .ovr-lap {
        position: absolute;
        right: 35%;
        top: 6%;
    } */
    .col-md-8 {
        width: 100%;
    }
   
}
@media screen  and (max-width: 900px){
  
        .profile{
            max-width: 450px;
        }
        .row {
            display: flex;
            flex-direction: column-reverse;
        }
        .col-md-4 {
            width: 100%;
        }
        .col-md-8 {
            width: 100%;
        }
        /* .col-md-4 .ovr-lap {
            position: absolute;
            right: 18%;
            top: 12%;
        } */
 }
    